__pycache__/
sim_build/
work/
.idea/
.sys_info/

*.windsurf/
*.promptx/
*.fst
*_dump.v
uiov*/
*.vcd
*.wlf
wlf*
transcript*
*.vstf
.env
.xil/
k7*/
vitis_workspace*/
*.jou
*.log
*.str
doc/
output/
CLAUDE.md
gemini.md
*backup*
camera_ov5640/
ov5640/
ip/uisrc/uidelay/
ip/uisrc/uiSensorRGB565/
*.tar.gz
image_gen/
build/
*.elf
*.bin